:root {
  --main-bg-primary: #242526;
  --bg-primary: #303132;
  --bg-hover-primary: #323334;
  --title-primary: #aaa;
  --color-primary: #888;
  --accent-color: #f26;

  font-family: "Open Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-primary);
  background-color: var(--main-bg-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-bg-primary: #fff;
    --bg-primary: #eee;
    --bg-hover-primary: #ddd;
    --title-primary: #aaa;
    --color-primary: #888;
    --accent-color: #f26;

    background-color: var(--main-bg-primary);
    color: var(--color-primary);
  }
}

html,
body,
:root,
#root {
  height: 100%;
  margin: 0;
}

body {
  padding: 10px;
}

* {
  box-sizing: border-box;
}
